# Byte-compiled / virtual envs
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints
.venv/
.env/
*.env

# IDE
.vscode/
.idea/

# Build artifacts
*.egg
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Data
*.fits
*.csv
*.txt
*.log
*.pdf
*.png
*.jpg

# Logs / junk
*.log
logbook/
